* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
}
/* header start */
header.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(233,233,233,255);
    padding: 1rem 7%;
    border-bottom: 2px solid rgba(127,127,127,255);
}
header .title a {
    font-weight: bold;
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
}
header.nav-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 1rem 2.6rem;
}
header.nav-container .nav-list li {
   list-style: none;
}
header.nav-container .nav-list li a {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    transition: .2s;
}
header.nav-container .nav-list li:hover a {
    color: rgb(0, 0, 0);
}
/* header end */
/* introduction */
main .intro {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30rem;
}
main .intro article.card {
    width: 400px;
    padding: 15px;
}
main .intro article.card h1 {
    font-size: 3rem;
}
main .intro article.card h3, p, button {
    margin-top: 5px;
}
main .intro .pfp {
    border-radius: 50%;
}
main .intro .card .btn-hire {
    display: inline-block;
    color: #fff;
    padding: 0.7rem 1.5rem;
    text-align: center;
    background-color: rgb(0, 0, 1);
    border-radius: 999px;
    border: 2px solid transparent;
    margin-top: 9px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .20s ease-in;
}
main .intro .card .btn-hire:hover {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
}
/* intro end */
/* about */
main #about {
    width: 100%;
    height: 700px;
    background-color: white;   
    display: flex;
    align-items: center;  
    justify-content: center;
}
main article.about {
    width: 500px;
    padding: 20px;
    text-align: center;
}
main article.about h2 {
    font-size: 2rem;
}
main article.about p {
    padding: 20px;
    font-size: 1.2rem
}
/* about end */
/* skills */
main #skills {
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
main #skills h2 {
    font-size: 2rem;
}
main article.skill {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
main article.skill section.tech {
    width: 250px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: .2s;
    cursor: default;
}
main article.skill section.tech:hover {
    box-shadow: 6px 6px 5px 5px #666666;
}
/* skills end */
/* contact */
main #contact {
    background-color: white;
    width: 100%;
    height: 700px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
main #contact h2 {
    font-size: 2rem;
}
main #contact .form {
    width: 600px
}
main #contact .form input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 2px solid cadetblue;
}
main #contact .form input {
    height: 2rem;
}
main #contact .form .send {
    width: 100%;
    display: inline-block;
    color: #fff;
    padding: 0.7rem 1.5rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 999px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
/* contact end */
/* footer */
footer {
    padding: 20px;
    color: white;
    background-color: #31465c;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
/* footer end */
/* media queries */
@media screen and (max-width: 1033px) {
    header.nav-container {
        flex-direction: column;
        gap: 1rem;
    }
    header.nav-container .name a {      
        font-weight: 1.5rem;
    }
    main .intro {
        flex-direction: column;
        gap: 2rem;
    }
    main .intro article.card h1, h3 {
        font-size: 1.4rem;
    }
    main .intro aside img {
        width: 200px;
        height: 200px;
    }
    main .intro aside {
        order: -1;
        margin-top: 100px;
    }
    main #skills article.skill {
        flex-wrap: wrap;
    }
}